<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<ion-content>

  <!-- main wrapper -->
  <div class="main_wrapper">
    <!-- first box -->
    <article class="first_box">
      <h1>
        <img src="../../assets/img/splash/MotionDetector.svg" alt="" />
      </h1>

    </article>
    <!-- first box -->
    <!-- second box -->
    <article class="second_box">

      <div class="top_glow"></div>

      <div class="logo">
        <img src="../../assets/img/splash/logo.svg" alt="" />
      </div>

      <h1>
        <img src="../../assets/img/splash/MotionDetector.svg" alt="" />
      </h1>

      <div class="left_wing">
        <img src="../../assets/img/splash/right_wing.svg" alt="" />
      </div>
      <div class="right_wing">
        <img src="../../assets/img/splash/left_wing.svg" alt="" />
      </div>
    </article>
    <!-- second box -->
  </div>
  <!-- main wrapper -->
</ion-content>